
body {
    font-family: 'Roboto', sans-serif;
}

.head0 {
    top: 0px;
    position: fixed;
    z-index: 1000;
    display: inline-block;
    background: #007765;
    width: 1219px;
    height: 84px;
}

.head0x {
    position: absolute;
    width: 49%;
    text-align: center;
}

.head01 {
    left: 0px;
}

.head02 {
    right: 0px;
    top: 40%;
}

nav > a, nav > span{
    font-size: 24px;
    color: white;
}

.content {
    width: 1219px;
    padding: 84px 55px;
    margin: 0px auto;
    z-index: 0;
}

.imgblock_01 {
    position: relative;
    display: inline-block;
}

.imgblock_01 img{
    width: 100%;
}

.imgblock_01 h2, .textblock {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

#imgblock_01_text_00 {
    width: 1219px;
    height: 83px;
    text-align: center;

}

#imgblock_01_text {
    width: 893px;
}

#text_over_img-01 {
    font-size: 72px;
    color: white;
}

.text_over_img-02 {
    /* We’re in this together! All of our computers and phones join in a network to make the strongest supercomputer the world has ever seen. */
    display: block;

    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

article {
    width: 1110px;
    margin: auto;
    margin-bottom: 70px;
}

h1 {
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #007765;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

#ppc-logo {
    float: left;
    width: 115px;
    height: 115px;
    margin-right: 40px;
}

.block_hero {
    padding-top: 128px;
    padding-bottom: 128px;
    background: url(../img/main-bg-01.jpg) center center;
    background-size: cover;
    //background-position: center center;
}

.block_hero_container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.block_hero_message {
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}

#the-team {
    background: #EEEEEE;
    width: 100%;
    margin: 0 auto;
}

.members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.member {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.member img {
    width: 168px;
    height: 168px;
}

.member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    color: #007765;
}

.member-role {
    font-style: italic;
    font-size: 18px;
}

footer {
    background: #333333;
    height: 176px;
    position: relative;
}

div.textblock {
    width: 540px;
}

#footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    display: block;

    color: #FFFFFF;
}

/*border: blueviolet dashed 2px;*/