

.head0 {
    top: 0px;
    position: fixed;
    z-index: 1000;
    display: inline-block;
    background: #007765;
    width: 1219px;
    height: 84px;
}

.head0x {
    position: absolute;
    width: 49%;
    text-align: center;
}

.head01 {
    left: 0px;
}

.head02 {
    right: 0px;
    top: 40%;
}

nav > a, nav > span{
    font-family: Roboto;
    font-size: 24px;
    color: white;
}

.content {
    width: 1219px;
    padding: 84px 55px;
    margin: 0px auto;
    z-index: 0;
}

.imgblock_01 {
    position: relative;
    display: inline-block;
}

.imgblock_01 img{
    width: 100%;
}

.imgblock_01 h2, .textblock {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

#imgblock_01_text_00 {
    width: 1219px;
    height: 83px;
    text-align: center;

}

#imgblock_01_text {
    width: 893px;
}

#text_over_img-01 {
    font-family: Roboto;
    font-size: 72px;
    color: white;
}

.text_over_img-02 {
    /* We’re in this together! All of our computers and phones join in a network to make the strongest supercomputer the world has ever seen. */
    display: block;

    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

article {
    width: 1110px;
    margin: auto;
    margin-bottom: 70px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    text-align: center;
    color: #007765;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

#ppc-logo {
    float: left;
    width: 115px;
    height: 115px;
    margin-right: 40px;
}

#the-team {
    width: 100%;
    padding: 32px 0px;
    background: #EEEEEE;
    margin: auto;
    text-align: center;
}

.img-block-team-el {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 283px;
    text-align: center;
}

.img-block-team-el img {
    width: 168px;
    height: 168px;
    background-color: #EEEEEE;
}

.img-block-team-el h2 {
    position: absolute;
    top: 150px;
    width: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #007765;

}

.img-block-team-el span {
    position: absolute;
    top: 195px;
    width: 100%;

    display: block;


    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

footer {
    background: #333333;
    height: 176px;
    position: relative;
}

div.textblock {
    width: 540px;
}

#footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    display: block;

    color: #FFFFFF;
}

/*border: blueviolet dashed 2px;*/